.container-contactme {
  flex-grow: 1;
  padding-top: 4rem;
  margin-left: 10rem;
  margin-right: 6rem;
}

.title-contactme {
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.subtitle-contactme {
  text-align: center;
  margin-bottom: 4rem;
  color: #fff;
}

.grid-container-contactme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.grid-item-contactme {
  flex: 1 1 100%;
}

@media (min-width: 960px) {
  .grid-item-contactme {
    flex: 1 1 45%;
  }

  .contact-info-contactme {
    padding-left: 2rem;
    text-align: left;
  }
}

.form-field-contactme {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
}

.form-field-contactme::placeholder {
  color: #fff;
  opacity: 1;
}

.form-button-contactme {
  width: 100%;
  padding: 0.8rem;
  border-radius: 50px;
  font-size: 1rem;
  text-transform: none;
  background-color: #646cff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button-contactme:hover {
  background-color: #535bf2;
}

.contact-info-contactme {
  text-align: center;
}

.contact-title-contactme {
  font-weight: bold;
  color: #fff;
}

.contact-text-contactme {
  color: #fff;
}

.contact-link-contactme {
  color: #646cff;
  text-decoration: none;
}
