/**
 * File Name: Header.css
 * Student’s Name: Felipe Rosa
 * Student ID: 301415379
 * Date: September 28, 2024
 */
.header {
    text-align: center;
    padding-top: 2rem;
  }
  
  .header-title {
    font-weight: bold;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .header-subtitle {
    color: #fff;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
  }
  
  .button-about {
    margin-top: 1rem;
    padding: 0.8rem 1.5rem;
    background-color: #646cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-about:hover {
    background-color: #535bf2;
  }
  