/**
 * File Name: NavBar.css
 * Student’s Name: Felipe Rosa
 * Student ID: 301415379
 * Date: September 28, 2024
 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #646cff;
  width: 100%;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.logo {
  height: auto;
  width: auto;
}

.nav-links {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links a:hover {
  background-color: #fff;
  color: #646cff;
  border-radius: 4px;
}

@media (max-width: 768px) {

  .toolbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .nav-links {
    display: none;
  }
}
